.contact {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}
.dlcv {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.textarea {
    max-height: 100px;
}