h1, h2, h3, h4, p, a {
    color: white;
}
a {
    color: white;
    text-decoration: none;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}



/* ####################### FOOTER ###################################### */
footer {
    color: white;
    justify-content: center;
}
.externallinks {
    display: flex;
    justify-content: center;
}
.externallinks div {
    margin: 5%;
}